<h2>Biztosítási csomag vásárlása</h2>

<form action="/buy" method="post">
	<p>
		<input type="radio" name="deuterium[w]" value="eleresi"/>Elérési biztosítás
		<br>
		<input type="radio" name="deuterium[w]" value="kockazati">Kockázati biztosítás
	</p>
	<%= form_field_cnum "Ha elérési, hány évre köti?", @deuterium, :n %>
	<%= form_field_cnum "Biztosítási összeg", @deuterium, :s %>

	<p><input type="submit" value="Mehet"/></p>
</form>

