
<form action="/confirm" method="post">
  <p><input type="hidden" name="_method" value="delete"/></p>
	<p>
		<%= @deuterium[:p] %>
	</p>
  <p class="error">Megvásárolod a csomagot?</p>
  <p>
    <input type="submit" value="Nem"/>, vagy
    <a href="/buy">Igen</a>
  </p>
</form>
