<h2>Kommutációs számok</h2>

<form action="/actuarial" method="post">
	<%= form_field "x", @cnum, :x %>
	<%= form_field "Dx", @cnum, :d %>
	<%= form_field "Mx", @cnum, :m %>
	<p><input type="submit" value="Mehet"/></p>
</form>

