<h2><%= @user.login %> biztosításai</h2>

<% @deuteria.each do |deuterium| %>
	<% if deuterium[:user_id] == @user[:id] %>
		<dl>
			<dt>Biztosítási csomag típusa:</dt>
			<% if deuterium[:w]=~ /eleresi/%>
				<dd>elérési</dd>
			<% else %>
				<dd>kockázati</dd>
			<% end %>
			<% if deuterium[:w] =~ /eleresi/ %>
				<dt>A biztosítás időtartama:</dt>
				<dd><%= deuterium[:n] %> év</dd>
			<% end %>
			<dt>A biztosítás értéke:</dt>
			<dd><%= deuterium[:s] %> Ft</dd>
			<dt>A biztosítás nettó díja:</dt>
			<dd><%= deuterium[:p] %> Ft</dd>
		</dl>
	<% else %>
		<p>Még nincsenek...</p>
	<% end %>
<% end %>
